service: tcc-aws-service

plugins:
  - serverless-webpack

package:
  exclude:
    - .serverless/**
    - .git/**
    - node_modules/**

provider:
  name: aws
  runtime: nodejs12.x
  region: us-east-1
  environment:
    serviceName: ${self:service}
    tabelaDeMedidasdynamodb: ${self:service}-medidas
  
functions:
  - ${file(sls/funcoes/registroDeMedidas.yml)}

resources:
  - ${file(sls/recursos/dynamoDb/tabelaMedidas.yml)}